[build]
  base = "site"
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20.10.0"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/next"
  status = 200
